<!DOCTYPE html>
<html>
<head>
    <title>Broadcasting</title>
</head>
<body ng-app="app">

<div ng-controller="thirdCtrl" style="border:2px solid #428bca;padding:5px;">
    <h1>sibling Controller</h1>
    <p>Broadcast Message : {{messageSibling}}</p>

    <div ng-controller="firstCtrl" style="border:2px solid #E75D5C; padding:5px;">
        <h1>Parent Controller</h1>
        <input ng-model="msg">
        <button ng-click="handleClick(msg);">Broadcast</button>
        <br /><br />

        <div ng-controller="secondCtrl" style="border:2px solid #428bca;padding:5px;">
            <h1>Child Controller</h1>
            <p>Broadcast Message : {{message}}</p>


        </div>

    </div>

</div>






<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script>
    var app = angular.module('app', []);

    app.controller("firstCtrl", function ($scope) {
        $scope.handleClick = function (msg) {
            $scope.$broadcast('eventName', { message: msg });
        };

    });

    app.controller("secondCtrl", function ($scope) {
        $scope.$on('eventName', function (event, args) {
            $scope.message = args.message;
            console.log($scope.message);
        });
    });

    app.controller("thirdCtrl", function ($scope) {
        $scope.$on('eventName', function (event,args) {
            $scope.messageSibling = args.message;
            console.log('event',event)
            console.log('messageSibling',$scope.messageSibling)
        })

    });

</script>
</body>
</html>